body {
    background-color: grey;
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 800px;
}

table {
background-color: white;
}

tr {
    height: 35px;
}

a:hover {
    color: orange;
}
tr:nth-child(2n+1){
background-color: palevioletred;
}
tr:hover{
    background-color: indianred;
}

img:hover {
transform : scale(2);
}
@media only screen and (max-width: 600px) {
    body {
        background-color: red;
    }
}

@media only screen and (max-width: 900px) {
    body {
        background-color: lightblue;
    }
}